<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BarnesAndNoble">
  <test thread-count="5" name="BasicTests">
    <classes>
      <class name="TestScripts.ApplicableLoginTest"/>
   <!--- <class name="TestScripts.TC_EndToEndProductPurchase"/>-->
    </classes>
  </test> <!-- BasicTests -->
</suite> <!-- BarnesAndNoble -->
